<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="post">
        <p>id : <%=user.id%></p>
        <p>username: <%=user.username%></p>
        <p>email : <%=user.email%></p>
    </div>
</body>
</html>